
body {
    background-color: #ffe7d5;
    -webkit-font-smoothing: antialiased;
    font: normal 14px Roboto,arial,sans-serif;
    font-family: 'Dancing Script', cursive!important;
  }
  
  .container {
      padding-top: 50px;
  }
  ::placeholder { 
      color:black !important;
      opacity: 1; 
      font-size:18px!important;
  }
  .form-login {
      background-color: rgb(248, 248, 248,0.55);
      padding-top: 5px;
      padding-bottom: 20px;
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 15px;
      border-color:black;
      border-width: 5px;
      color:black;
      box-shadow:0 1px 0 black;
      width: 500px;
      height: 450px;
     
       }

  .form-control{
      background:transparent!important;
      color:black  !important;
      font-size: 18px!important; }


  .table-sm>:not(caption)>*>* {
      padding: 10px;
      font-size: 16px;
  }

 
  .tableinfo  {
    padding-top: 10px;
    width: 650px;
    height: 800px;
    margin-left: 250px;}

